.row {
    background-color: #4e9013;
    min-height: 200px;
    margin-bottom: 30px;
    color: white;
}

.align-self-start {
    background-color: #441180;
}

.align-self-center {
    background-color: #8DC5CC;
}

.align-self-end {
    background-color: #902e07;
}
