html {
    height: 100%;
}

body {
    padding-top: 56px;
    height: 100%;
}

#main-container,
#main-container > .row {
    height: 100%
}

.sidebar {
    padding: 10px 0;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.sidebar ul {
    margin-bottom: 20px;
}

.sidebar ul li {
    padding-left: 10px;
    padding-top: 5px;
    min-height: 2.2rem;
}

.sidebar ul li a {
    text-decoration: none;
}

/* Active <li> and <a>, and for hover over NON-active <li> and <a> */
.sidebar ul li.active,
.sidebar ul li.active a,

.sidebar ul li:hover,
.sidebar ul li:hover a,
.sidebar ul li a:hover {
    background-color: #428BCA;
    color: White;
}

.sidebar ul li:hover {
    cursor: pointer;
}

